<!DOCTYPE html>
<html>
  <head>
    <title>StradaBugRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <%= link_to "Page 1", home_page_1_path %>
      <%= link_to "Page 2", home_page_2_path %>
      <%= link_to "Redirect to Page 1", home_redirected_path %>
    </div>
    <%= yield %>
  </body>
</html>
